/**
    google font-family style input and overall font color.
*/

body {
    font-family: 'Oswald', 'Verdana', Arial, sans-serif;
    color: #453674;
}

/**
    container styles for index.html
*/

#container {
    margin: 50px 100px 100px;
}

/**
   header styles for index.html.
*/ 
h1, h2, h3, h4 {
    background-color: #3c275a;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}

/**
    header styles via class app-header per course standard.
*/
.app-header {
    background-color: #3c275a;
    color: white;
    text-align: left;
}

/**
    list item anchor styling, removes underline and determines gui response.
*/

.hyper a {
    color: #453674;
    text-decoration: none;
}

.hyper a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.hyper a:visited {
    color: #3C275A;
}


