<<<<<<< HEAD
/**
Title: Assignment 1.3 Environment Setup
Author: Professor Krasso
Date: 17 January 2021
Modified By: Tierre Green
Description: Environment Setup assignment for web-231 css styles.      
*/

/**
    google font-family style input and overall font color.
*/

body {
    font-family: 'Oswald', 'Verdana', Arial, sans-serif;
    color: #453674;
}

/**
    container styles for index.html
*/

#container {
    margin: 50px 100px 100px;
}

/**
   header styles for index.html.
*/ 
h1, h2, h3, h4 {
    background-color: #3c275a;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}

/**
    header styles via class app-header per course standard.
*/
.app-header {
    background-color: #3c275a;
    color: white;
    text-align: center;
}

/**
    list item anchor styling, removes underline and determines gui response.
*/

.hyper a {
    color: #453674;
    text-decoration: none;
}

.hyper a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.hyper a:visited {
    color: #3C275A;
}


=======
/**
Title: Assignment 1.3 Environment Setup
Author: Professor Krasso
Date: 17 January 2021
Modified By: Tierre Green
Description: Environment Setup assignment for web-231 css styles.      
*/

/**
    google font-family style input and overall font color.
*/

body {
    font-family: 'Oswald', 'Verdana', Arial, sans-serif;
    color: #453674;
}

/**
    container styles for index.html
*/

#container {
    margin: 50px 100px 100px;
}

/**
   header styles for index.html.
*/ 
h1, h2, h3, h4 {
    background-color: #3c275a;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}

/**
    header styles via class app-header per course standard.
*/
.app-header {
    background-color: #3c275a;
    color: white;
    text-align: center;
}

/**
    list item anchor styling, removes underline and determines gui response.
*/

.hyper a {
    color: #453674;
    text-decoration: none;
}

.hyper a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.hyper a:visited {
    color: #3C275A;
}


>>>>>>> 35eac2e14badf8ac9d3744e36bb02335f429ca9d
