/**
;Title: Green-card-game Assignment 9.2
;Author: Richard Krasso
; Modified by: Tierre
;Date: March 3, 2021
;Description: Assignment 8.2 css stylings copied to this css file
;but deleted some that were not needed
*/

/**
* styling for body of page, font families.
*/

body {
    font-family: 'Oswald', 'Verdana', Arial, sans-serif;
}

/**
* styling for app-header div per course standards centering app header text. 
*/
.app-header {
    text-align: center;
}

/**
* styling for card class divs per course standards setting the margin of the page.
*/
.card {
    margin-right: auto;
    margin-left: auto;
}

/**
*added padding to card content to improve visual match to assignment specs.
*/
.card-content {
    padding: 2px 16px;
}

/**
* player card css per assignment instructions.
*/

.player-card {
    text-align: center;
}

/**
*setting the grid with padding, number of columns and grid gaps.
*/
#player-card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

/**
* return to landing page anchor position on the page.
*/
.return-home {
    margin-left: 25%
}